<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>會員編輯</h2>
    <ol class="breadcrumb">
      <li> 
        <%= link_to "首頁", dashboard_admin_path %>
      </li>
      <li class="breadcrumb">
        <%= link_to "會員管理", dashboard_admin_users_path %>
      </li>
      <li class="active">
        <strong>會員編輯</strong>
      </li>
    </ol>
  </div>
  
  <div class="col-lg-2">
  </div>
</div>

<%= params[:controller] %>