<%= render "layouts/header", header: ["商品清單", "商品新增"], path: dashboard_admin_products_path %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>商品新增</h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
  </div>
</div>