<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <%= link_to content_tag(:i, "", class: "fa fa-sign-out")+" 登出", destroy_manager_session_path, method: 'delete'  %>
      </li>
    </ul>
  </nav>
</div>